@font-face {
    font-family: 'vazir';
    src: url('../fonts/Vazir/Vazir.eot');
    src: url('../fonts/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Vazir/Vazir.woff2') format('woff2'),
    url('../fonts/Vazir/Vazir.woff') format('woff'),
    url('../fonts/Vazir/Vazir.ttf') format('truetype');
}

@font-face {
    font-family: 'yekan';
    src: url('../fonts/Yekan/BYekan.eot');
    src: url('../fonts/Yekan/BYekan.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Yekan/BYekan.woff2') format('woff2'),
    url('../fonts/Yekan/BYekan.woff') format('woff'),
    url('../fonts/Yekan/BYekan.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: vazir, Arial;
    color: #6f6f6f;

}


/*Header*/
.header {
    position: relative;
    text-align: center;
    background: url("../images/fin-kashan-1920.jpg") center #cccccc no-repeat;
    background-size: cover;
    width: 100%;
    height: 657px;

}

#header_text {
    margin-bottom: 100px;
    font-size: 60px;

}

.header-text {
    color: white;
    margin-top: 160px;
    font-size: 28px;
    text-shadow: 1px 3px 3px black;

}

.cta {
    background: #05050580;
    border-radius: 9px;
    padding: 1px 3px 4px 3px;
    color: #fce38a;
    text-shadow: -1px 2px 2px #050505;
}


.menu-list {
    padding-top: 40px;
}

.menu-list__item {
    display: inline-block;
    list-style: none;
}

.menu-list__link {
    text-decoration: none;
    border-radius: 5px;
    background: #11abb0d6;
    color: #f5f5f5;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    font-size: 23px;
    text-shadow: 1px 1px 1px black;
}

.menu-list__link:hover {
    color: #fce38a;
    transition: all .1s;
    background: rgba(23,184,195,0.6)

}
.arrow-link {
    position: absolute;
    right: 50%;
    bottom: -15px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-top: 4px;
    text-decoration: none;
    font-size: 30px;
    color: #b83b5e;
    background-color: #333333;
}
.arrow-link:hover {
    color: #fce38a;
    transition: all .3s;
}

/*ABOUT*/

.about {
    background: url("../images/pattern.png");

    padding-top: 50px;
    padding-bottom: 50px;
}



.row {
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
}

.personal {
    float: left;
    margin-right: 15px;
}

h3, h4 {
    font-family: vazir;
    color: #11abb0;

}

.about ul {
    list-style: none;
}

/*SAFAR*/
h3 {
    margin-bottom: 10px;
}
.safar {
    padding-top: 40px;
    padding-bottom: 40px;
}

.safar-img1 {
    float: left;
    margin-right: 15px;
}
.safar1 {
    text-decoration: none;
    color: #11abb0;

}
.safar-img2 {
    float: right;
    margin-left: 15px ;
}
.safar2 {
    text-decoration: none;
    color: #11abb0;
}
.clearfix {
    clear: both;
    padding-top: 30px;
}

 /*BOOK*/
input, select, textarea {
    font-family: "Vazir";
}
.book {
    background: #f1f1f1;
    padding: 30px 0;
}
.book-header {
    text-align: center;
}
.book-form {
    max-width:400px;
    margin: 0 auto;

}
.form-group {
    margin-bottom: 10px;

}
.form-control {
    display: block;
    width: 100%;
    border: 1px solid #e0e0e2;
    padding: 5px;
    line-height: 2.5;
    border-radius: 8px ;
}
.form-control:focus {
    outline: none;
    border: 1px solid #158185;
}
.book-form label {
    margin-bottom: 5px;
    display: inline-block;
}
.button {
    padding: 8px 20px;
    background-color: #11abb0;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    margin-left: 8px;
    font-family: "Vazir";
    font-size: 15px;
    cursor: pointer;
}
.button:hover {
    transition: all .3s;
    background: #b83b5e;
}
.required {
    color: rgba(150,8,0,0.83)
}
.form-checkbox {
    position: relative;
}
.checkbox {
    position: absolute;
    top: 5px;
}
.input-checkbox {
    margin-right: 20px;
}
 /*FOOTER*/
.footer {
    position: relative;
    background: #4c4e4e;
    text-align: center;
    padding: 80px;

}
.footer-lists {
    list-style: none ;
    padding-right: 50px;

}
.footer-list {
    display: inline-block;
    padding: 0 10px 40px 10px ;
}


.footer-link {
    text-decoration: none;
    color: #11abb0;
}
.fa-instagram {
    font-size: 40px;
    color: white;
}
.fa-instagram:hover {
    color: red;
    transition: all .3s;
}
.fa-youtube {
    font-size: 40px;
    color: white;
}
.fa-youtube:hover {
    color: red;
    transition: all .3s;
}

.footer-link:hover {
    color: #f1f1f1;
    transition: all .3s;
}
.footer-copyright {
   color: #f1f1f1;
}
.arrow-up {
    position: absolute;
    top: -20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-decoration: none;
    font-size: 30px;
    color: #b83b5e;
    background-color: #333333;

}
.arrow-up:hover {
    color: #fce38a;
    transition: all .3s;

}
